body{
    background-color: whitesmoke;
}

/*Start the global navigation styling section*/
.header_labels {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;
    position: sticky;
  }
  
  .header_labels li {
    float: left;
  }
  
  .header_labels li a {
    display: block;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
  }
  
  .header_labels li a:hover:not(.active) {
    background-color: lightcyan;
    color: darkcyan;
  } 

  h1{
      text-align: center;
      color: darkcyan;
  }

 h2{
   text-align: center;
   color: darkcyan;
}
form{
    text-align: center;
    color: orange;
    font-family: Itim;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}

.button {
  padding: 10px 32px; 
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: orangered; 
  color: lightgoldenrodyellow; 
  border: 2px solid lightgoldenrodyellow;
}

footer{
  text-align: center;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}